<div class="main-body">
    <div class="row">
        <select onclick="showUser(this)">
            <option value="inactivated" id="u_inactivated">Display Inactive users</option>
            <option value="activated" id="u_activated">Display Actived users</option>
        </select>
    </div>
    <div class="row">
            <div class="manage-job">

            </div>
    </div>


</div>
<script type="text/html" id="template">
    <table  class="display dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example_info">
    <thead>
        <tr>
            <th> Name</th>
            <th> Email ID</th>
            <th> Company</th>
            <th> Action</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i in data) {%>
        <tr>
            <td class="odd"><p><%= data[i].screenName %></p></td>
            <td class="odd"><p><%= data[i].email %></p></td>
            <td class="odd"><p><%= data[i].company %></p></td>
            <% if(data[i].status==true){ %>
            <td class="odd"><input type="button" email="<%= data[i].email %>" value="Activated" onclick="action(this,false)" class="activated"></td>
            <% } else { %>
            <td class="odd"><input type="button" email="<%= data[i].email %>" value="Activate" onclick="action(this,true)" class="activate"></td>
            <% }%>
        </tr>
        <% } %>
        </tbody>
    </table>
</script>
<script>
    function action(that,status) {
        let email=$(that).attr('email')
        $.ajax({
                    url: '../api/updateUser',
                    data: JSON.stringify({
                        status: status,
                        email:email

                    }),
                    method: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message)
                            location.href = '../manageuser'
                        }

                    }, error: function (error) {
                        let msg = JSON.parse(error.responseText)
                        alert(msg.message)
                    }
                }
        )
    }

    function showUser(that) {
        let selectedValue = $(that).val()
        let u_status = false
        if (selectedValue == 'activated') {
            u_status = true
        }
        $.ajax({
            url: '../api/getUsers',
            data: JSON.stringify({
                status: u_status
            }),
            method: 'POST',
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                $('.manage-job').html('')
                var template = $('#template').html();
                var compiled_html = _.template(template)({
                    data: data
                })
                $('.manage-job').append(compiled_html);

            }
        })

    }

</script>