<div class="">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Search</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" id="search-text" class="form-control input-lg" placeholder="Search ..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" id="search" type="button">
                            Search
                        </button>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>

        <table id="example" class="display hidden results" style="width:100%">
            <thead>
            <tr>
                <th style="color:#3c763d" id="resultCount"></th>
            </tr>
            <tr>
                <th>Material Number</th>
                <th>Meterial Type</th>
                <th>Material Group</th>
                <th>Packaging Material Type</th>
                <th>Created On</th>
                <th>Name of Person who Created the Object </th>
                <th>Maintenance status </th>
                <th>Industry Sector</th>
                <th>Base Unit of Measure</th>
                <th>Product hierarchy</th>
                <th>Description</th>
            </tr>
            <tbody>
            </tbody>
            </thead>

        </table>
    <div class="row">
        <input class="hidden btn btn-default" id="loadMore" value="Load More" type="button" onclick="loadMore()">
    </div>
</div>

<script type="text/html" id="template">

</script>
<script>
    let pagination = 0
    var giCount = 1;

    function loadMore() {
        let searchText = $("#search-text").val()
        if (searchText == "" || !searchText || searchText.length < 3) {
            $('#example').addClass('hidden')
            $('#loadMore').addClass('hidden')
            return false
        }
        $.ajax({
            url: '/api/search',
            data: JSON.stringify({
                text: searchText,
                from: pagination * 10,
                source:['mara_matnr','mara_mtart','mara_matkl','mara_vhart','mara_ersda','mara_ernam','mara_pstat','mara_mbrsh','mara_meins','mara_prdha','makt_props']
            }),
            method: 'POST',
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                $('.results').removeClass('hidden')
//                var template = $('#template').html();
//                // complie template and bind context
//                var compiled_html = _.template(template)({
//                    data: data
//                });
                if(data.result.length>1){
                    $("#resultCount").html(data.time)
                }
                if (data.result.length >= 10 && data.count > 10) {
                    $("#loadMore").removeClass('hidden')
                } else {
                    $("#loadMore").addClass('hidden')
                }
              //  $('#example').append(compiled_html);
                let final_data=data.result.map(function (tempdata) {
                    return tempdata._source
                })
                console.log(final_data)
                var counter = 1;


                for(let j=0;j<final_data.length;j++) {
//                    let maktxData=final_data[j].makt_props.map(function (makt_prop_data) {
//                        return makt_prop_data.makt_maktx
//                    })
                    $('#example').dataTable().fnAddData([
                        final_data[j].mara_matnr,
                        final_data[j].mara_mtart,
                        final_data[j].mara_matkl,
                        final_data[j].mara_vhart,
                        final_data[j].mara_ersda,
                        final_data[j].mara_ernam,
                        final_data[j].mara_pstat,
                        final_data[j].mara_mbrsh,
                        final_data[j].mara_meins,
                        final_data[j].mara_prdha,
                        final_data[j].makt_props[0].makt_maktx
                    ]);
                }

                pagination++;
//                $('#example').DataTable({"paging":   false});
            }, error: function (error) {
                alert(error.message)
            }
        })
    }

    $("#search").on('click', function () {
        pagination = 0
        var table = $('#example').DataTable();
        table
                .rows()
                .remove()
                .draw();
        loadMore()
    })
    $("#search-text").bind("keypress", {}, keypressInBox);

    function keypressInBox(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { //Enter keycode
            e.preventDefault();
            pagination = 0
            var table = $('#example').DataTable();

            table
                    .rows()
                    .remove()
                    .draw();

            loadMore()
        }
    };
    $(document).ready(function () {
        $('#example').DataTable({"paging":   false,});
    });
</script>