
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* .fa-upload{
    font-size: 30px !important;
} */
/*tool tip css ends*/
.navbar{
    background-color: white !important;
    border-color: white !important;
    color: black !important;
}
.manage-job{
    margin-top: -34px !important;
    padding-left: 10%;
}
.modal-title{
    font-size: 16px !important;
}
li>a{
    color: black !important;
}
.navbar-nav>li>a:hover {
    color: black !important;
}
.container-fluid{
    /*background-color: currentColor;*/
}
.main-body{
    padding-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
}
.sp_error{
    color: red;
    display: none;
}
.navbar-inverse{
    background-color: white;
    float: right;
}
#example_length{
    display:none;
}
.dataTables_filter{
    display: none;
}
.paging_simple_numbers{
    display: none;
}
.dataTables_info{
    display: none;
}
.results{
    padding: 20px;
}
.customer_results
{
    padding-left: 40px;
}
body { width: 100%; text-align: center; }

#loadMore{
    /*margin-left: 45%;*/
    padding: 10px;
    margin-bottom: 20px;
}
.code{
    background-color: #9d9d9d;
    padding: 50px;
}
#custom-search-input{
    box-shadow: 5px 5px 5px 1px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
}
table.dataTable thead .sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
}
td , th{
    padding-left: 40px;
}
tbody{
    font-size: 13px;
}
td {
    padding-top: .5em;
    padding-bottom: .5em;
    vertical-align: top !important;
}
forward-inactive{
    color:darkgray !important;
}
forward-active{
    color:black;
}
.fa-caret-left {
    font-size: 35px !important;
    padding:10px;
    font-weight: 100;
    cursor: pointer;
}
.fa-caret-right{
    font-size:35px !important;
    font-weight: 100;
    cursor: pointer;
}
.dataTables_empty{
    padding: 30px;
}
table{
    padding-top:100px

}
th{
    font-size: 12px;
    color: #1b6d85;
}
.odd{
    color: #204d74;
    /*background-color: #9d9d9d;*/
}
.clicked{
    background-color: darkgrey;
    border-radius: 3px;
}
.pagination{
    color: #f5f5f5;
    background-color: dodgerblue;
    padding: 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.even{
    color: #204d74;
    /*background-color: #5cb85c;*/
}
.dropdown-menu
{
    display: none;
    margin-left: 3%;
    width: 95%;
}
.fa-save{
    float: right;
}
.fa-close{
    padding: 9px;
    font-size: 27px !important;
    color: darkred;
    cursor: pointer;
}
.fa-file-excel-o{
    font-size: 27px !important;
    color: green;
    cursor: pointer;
}
.fa-upload{
    cursor: pointer;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 2%;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5bc0de;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5bc0de;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.active{
    background-color: #5bc0de !important;
}
.upload-button

{
    background-color: #5bc0de !important;
}
.download-button
{
    background-color:  #5bc0de !important;
}
body{
    color: #1b6d85;
}
.loader
{
    height: 60px;
}
#exportCSV{
    background-color: #5bc0de !important;
}
#csvDownload
{
    background-color:  #5bc0de !important;
}

.csv-loader{
    height: 60px;
    padding: 6px;
    margin-left: 52px;
}
.exactMatchText
{
    margin-left: 58%;
    margin-top: 4%;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd !important;
}