.navbar{
    background-color: white !important;
    border-color: white !important;
    color: black !important;
}
.manage-job{
    padding-top: 1.5%;
    padding-left: 10%;
}
.modal-title{
    font-size: 16px !important;
}
li>a{
    color: black !important;
}
.navbar-nav>li>a:hover {
    color: black !important;
}
.container-fluid{
    /*background-color: currentColor;*/
}
.main-body{
    padding-top: 10%;
}
.sp_error{
    color: red;
    display: none;
}
.navbar-inverse{
    background-color: white;
    float: right;
}
#example_length{
    display:none;
}
.dataTables_filter{
    display: none;
}
.paging_simple_numbers{
    display: none;
}
.dataTables_info{
    display: none;
}
.results{
    padding: 20px;
}
body { width: 100%; text-align: center; }

#loadMore{
    /*margin-left: 45%;*/
    padding: 10px;
    margin-bottom: 20px;
}
.code{
    background-color: #9d9d9d;
    padding: 50px;
}
#custom-search-input{
    box-shadow: 5px 5px 5px 1px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
}
table.dataTable thead .sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
}
td , th{
    padding-left: 40px;
}
tbody{
    font-size: 13px;
}
td {
    padding-top: .5em;
    padding-bottom: .5em;
    vertical-align: top !important;
}
forward-inactive{
    color:darkgray !important;
}
forward-active{
    color:black;
}
.fa-caret-left {
    font-size: 35px !important;
    padding:10px;
    font-weight: 100;
    cursor: pointer;
}
.fa-caret-right{
    font-size:35px !important;
    font-weight: 100;
    cursor: pointer;
}
.dataTables_empty{
    padding: 30px;
}
table{
    padding-top:100px

}
th{
    font-size: 12px;
    color: #1b6d85;
}
.odd{
    color: #204d74;
    /*background-color: #9d9d9d;*/
}
.clicked{
    background-color: darkgrey;
    border-radius: 3px;
}
.pagination{
    color: #f5f5f5;
    background-color: dodgerblue;
    padding: 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.even{
    color: #204d74;
    /*background-color: #5cb85c;*/
}
.dropdown-menu
{
    display: none;
    margin-left: 3%;
    width: 95%;
}